#ignore hidden directories
.*/

*.jar

# Mac Specific files
.DS_Store*

# Windows files
Thumbs.db

!platform/azure-build-server/keys/README.md
platform/azure-build-server/keys/*
platform/azure-build-server/ansible/hosts.ini
*.retry

